#
# (C) COPYRIGHT 2012 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the GNU General Public License version 2
# as published by the Free Software Foundation, and any use by you of this program is subject to the terms of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained from Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
#
if MALI_PLATFORM_THIRDPARTY_NAME = "chromebook"

menu "Chromebook options"
	depends on MALI_T6XX && MALI_EXPERT && MALI_PLATFORM_THIRDPARTY

config T6XX_DVFS_FREQ_LOCK
	bool "Enable dvfs frequency lock support"
	depends on MALI_T6XX_DVFS && MALI_EXPERT
	default n
	help
	  Choose this option to enable locking the DVFS frequency.  If sysfs
	  support is enabled files will be created for inspecting and
	  (potentially) setting a fixed DVFS frequency.  This is used
	  for debugging; enable only if you know what you are doing.

config MALI_HWC_TRACE
	bool "Enable hardware counter event tracing support"
	depends on MALI_T6XX && MALI_EXPERT
	default n
	help
	  Choose this option to enable collecting hardware counter data
	  with system trace events.  This is typically used for debugging
	  but has minimal overhead when not in use. Enable only if you
	  know what you are doing.

endmenu
endif
