/*
 * Google Snow board device tree source
 *
 * Copyright (c) 2012 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5250.dtsi"
#include "cros5250-common.dtsi"

/ {
	model = "Google Snow";
	compatible = "google,snow", "samsung,exynos5250";

	aliases {
		i2c104 = &i2c_104;
	};

	pinctrl@11400000 {
		sd3_clk: sd3-clk {
			samsung,pin-drv = <0>;
		};

		sd3_cmd: sd3-cmd {
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		sd3_bus4: sd3-bus-width4 {
			samsung,pin-drv = <0>;
		};

		audio_detection: audio-detection {
			samsung,pins = "gpx2-0", "gpx2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		ec_irq: ec-irq {
			samsung,pins = "gpx1-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		lid_irq: lid-irq {
			samsung,pins = "gpx3-5";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		ptn3460_gpios: ptn3460-gpios {
			samsung,pins = "gpy2-5", "gpx1-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		tps65090_irq: tps65090-irq {
			samsung,pins = "gpx2-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb2_vbus_en: usb2-vbus-en {
			samsung,pins = "gpx1-1";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_phyclk_en: usb3-phyclk-en {
			samsung,pins = "gpy1-1";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_vbus_en: usb3-vbus-en {
			samsung,pins = "gpx2-7";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@13400000 {
		arb_their_claim: arb-their-claim {
			samsung,pins = "gpe0-4";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		arb_our_claim: arb-our-claim {
			samsung,pins = "gpf0-3";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&power_key_irq &lid_irq>;

		lid-switch {
			label = "Lid";
			gpios = <&gpx3 5 1>;
			linux,input-type = <5>; /* EV_SW */
			linux,code = <0>; /* SW_LID */
			debounce-interval = <1>;
			gpio-key,wakeup;
		};
	};

	dwmmc2@12220000 {
		disable-mmc;
	};

	i2c-arbitrator {
		compatible = "i2c-arb-gpio-challenge";
		#address-cells = <1>;
		#size-cells = <0>;

		i2c-parent = <&{/i2c@12CA0000}>;

		our-claim-gpio = <&gpf0 3 1>;
		their-claim-gpios = <&gpe0 4 1>;
		slew-delay-us = <10>;
		wait-retry-us = <3000>;
		wait-free-us = <50000>;

		pinctrl-names = "default";
		pinctrl-0 = <&arb_our_claim &arb_their_claim>;

		/* Use ID 104 as a hint that we're on physical bus 4 */
		i2c_104: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			ec: cros-ec@1e {
				compatible = "google,cros-ec-i2c";
				reg = <0x1e>;
				interrupts = <6 0>;
				interrupt-parent = <&gpx1>;
				pinctrl-names = "default";
				pinctrl-0 = <&ec_irq>;
				wakeup-source;

				cros-ec-keyb {
					compatible = "google,cros-ec-keyb";
					keypad,num-rows = <8>;
					keypad,num-columns = <13>;
					google,needs-ghost-filter;

					/*
					 * Keymap entries take the form of 0xRRCCKKKK where
					 * RR=Row CC=Column KKKK=Key Code
					 * The values below are for a US keyboard layout and
					 * are taken from the Linux driver. Note that the
					 * 102ND key is not used for US keyboards.
					 */
					linux,keymap = <
						/* CAPSLCK F1         B          F10     */
						0x0001003a 0x0002003b 0x00030030 0x00040044
						/* N       =          R_ALT      ESC     */
						0x00060031 0x0008000d 0x000a0064 0x01010001
						/* F4      G          F7         H       */
						0x0102003e 0x01030022 0x01040041 0x01060023
						/* '       F9         BKSPACE    L_CTRL  */
						0x01080028 0x01090043 0x010b000e 0x0200001d
						/* TAB     F3         T          F6      */
						0x0201000f 0x0202003d 0x02030014 0x02040040
						/* ]       Y          102ND      [       */
						0x0205001b 0x02060015 0x02070056 0x0208001a
						/* F8      GRAVE      F2         5       */
						0x02090042 0x03010029 0x0302003c 0x03030006
						/* F5      6          -          \       */
						0x0304003f 0x03060007 0x0308000c 0x030b002b
						/* R_CTRL  A          D          F       */
						0x04000061 0x0401001e 0x04020020 0x04030021
						/* S       K          J          ;       */
						0x0404001f 0x04050025 0x04060024 0x04080027
						/* L       ENTER      Z          C       */
						0x04090026 0x040b001c 0x0501002c 0x0502002e
						/* V       X          ,          M       */
						0x0503002f 0x0504002d 0x05050033 0x05060032
						/* L_SHIFT /          .          SPACE   */
						0x0507002a 0x05080035 0x05090034 0x050B0039
						/* 1       3          4          2       */
						0x06010002 0x06020004 0x06030005 0x06040003
						/* 8       7          0          9       */
						0x06050009 0x06060008 0x0608000b 0x0609000a
						/* L_ALT   DOWN       RIGHT      Q       */
						0x060a0038 0x060b006c 0x060c006a 0x07010010
						/* E       R          W          I       */
						0x07020012 0x07030013 0x07040011 0x07050017
						/* U       R_SHIFT    P          O       */
						0x07060016 0x07070036 0x07080019 0x07090018
						/* UP      LEFT    */
						0x070b0067 0x070c0069>;
				};
			};

			power-regulator {
				compatible = "ti,tps65090";
				reg = <0x48>;
				interrupts = <6 0>;
				interrupt-parent = <&gpx2>;
				pinctrl-names = "default";
				pinctrl-0 = <&tps65090_irq>;
				no-ack-irq;

				vsys1-supply = <&vbat>;
				vsys2-supply = <&vbat>;
				vsys3-supply = <&vbat>;
				infet1-supply = <&vbat>;
				infet2-supply = <&vbat>;
				infet3-supply = <&vbat>;
				infet4-supply = <&vbat>;
				infet5-supply = <&vbat>;
				infet6-supply = <&vbat>;
				infet7-supply = <&vbat>;
				vsys-l1-supply = <&vbat>;
				vsys-l2-supply = <&vbat>;

				regulators {
					dcdc1 {
						ti,enable-ext-control;
					};
					dcdc2 {
						ti,enable-ext-control;
					};
					dcdc3 {
						ti,enable-ext-control;
					};
					fet1 {
						regulator-name = "vcd_led";
					};
					tps65090_fet2: fet2 {
						regulator-name = "video_mid";
						regulator-always-on;
					};
					fet3 {
						regulator-name = "wwan_r";
						regulator-always-on;
					};
					fet4 {
						regulator-name = "sdcard";
					};
					fet5 {
						regulator-name = "camout";
						regulator-always-on;
					};
					fet6 {
						regulator-name = "lcd_vdd";
					};
					fet7 {
						regulator-name = "ts";
					};
					ldo1 {
					};
					ldo2 {
					};
				};
			};

			battery: sbs-battery@b {
				compatible = "sbs,sbs-battery";
				reg = <0xb>;
				sbs,poll-retry-count = <1>;
			};
		};
	};

	/*
	 * On Snow we've got SIP WiFi and so can keep drive strengths low to
	 * reduce EMI.
	 */
	dwmmc3@12230000 {
		pinctrl-names = "default";
		pinctrl-0 = <&sd3_clk &sd3_cmd &sd3_bus4>;
	};

	usb@12000000 {
		samsung,vbus-gpio = <&gpx2 7 0>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_vbus_en>;
	};

	usbphy@12100000 {
		samsung,phyclk-gpio = <&gpy1 1 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_phyclk_en>;
	};

	usb@12110000 {
		samsung,vbus-gpio = <&gpx1 1 0>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&usb2_vbus_en>;
	};

	usb@12120000 {
		status = "okay";
	};

	lcd_fimd0: lcd_panel0 {
			lcd-htiming = <40 40 32 1366>;
			lcd-vtiming = <10 12 6 768>;
	};

	fimd {
		samsung,fimd-display = <&lcd_fimd0>;
		samsung,fimd-vidout-rgb;
		samsung,fimd-inv-vclk;
		samsung,fimd-frame-rate = <60>;
		samsung,default-window = <0>;
		samsung,fimd-win-bpp = <32>;
		samsung,src-clk-name = "sclk_vpll";
		samsung,fimd-src-clk-rate = <70500000>;
	};

	display-port-controller {
		samsung,color-space = <0>;
		samsung,dynamic-range = <0>;
		samsung,ycbcr-coeff = <0>;
		samsung,color-depth = <1>;
		samsung,link-rate = <0x0a>;
		samsung,lane-count = <2>;
	};

	hdmi {
		hdmi-en-supply = <&tps65090_fet2>;
		vdd-supply = <&ldo8_reg>;
		vdd_osc-supply = <&ldo10_reg>;
		vdd_pll-supply = <&ldo8_reg>;
	};

	sound {
		samsung,mic-det-gpios = <&gpx2 0 1>;
		samsung,hp-det-gpios = <&gpx2 2 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&audio_detection>;
	};

	i2c@12C90000 {
		tpm {
			compatible = "infineon,slb9635tt";
			reg = <0x20>;
		};
	};

	i2c@12CD0000 {
		ptn3460-bridge@20 {
			compatible = "nxp,ptn3460";
			reg = <0x20>;
			powerdown-gpio = <&gpy2 5 0>;
			reset-gpio = <&gpx1 5 0>;
			edid-emulation = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&ptn3460_gpios>;
		};
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <24000000>;
		};
	};

	pinctrl@11400000 {
		gpa0: gpa0 {
			powerdown-settings = <6 6 6 6 3 3 2 2>;
		};
		gpa1: gpa1 {
			powerdown-settings = <3 3 2 2 3 3>;
		};
		gpa2: gpa2 {
			powerdown-settings = <2 2 2 2 3 2 2 2>;
		};
		gpb0: gpb0 {
			powerdown-settings = <3 3 3 3 3>;
		};
		gpb1: gpb1 {
			powerdown-settings = <3 3 3 3 3>;
		};
		gpb2: gpb2 {
			powerdown-settings = <3 3 2 2>;
		};
		gpb3: gpb3 {
			powerdown-settings = <2 2 2 2>;
		};
		gpc0: gpc0 {
			powerdown-settings = <6 2 2 2 2 2 2>;
		};
		gpc1: gpc1 {
			powerdown-settings = <2 2 2 2>;
		};
		gpc2: gpc2 {
			powerdown-settings = <3 1 3 3 3 3 3>;
		};
		gpc3: gpc3 {
			powerdown-settings = <6 2 1 2 2 2 2>;
		};
		gpc4: gpc4 {
			powerdown-settings = <6 2 3 2 2 2 2>;
		};
		gpd0: gpd0 {
			powerdown-settings = <6 6 3 3>;
		};
		gpd1: gpd1 {
			powerdown-settings = <6 6 6 3 3 6 1 1>;
		};
		gpy0: gpy0 {
			powerdown-settings = <3 3 6 3 3 3>;
		};
		gpy1: gpy1 {
			powerdown-settings = <5 3 3 3>;
		};
		gpy2: gpy2 {
			powerdown-settings = <3 3 3 3 3 2>;
		};
		gpy3: gpy3 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpy4: gpy4 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpy5: gpy5 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpy6: gpy6 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
	};
	pinctrl@13400000 {
		gpe0: gpe0 {
			powerdown-settings = <5 3 3 3 2 2 3 3>;
		};
		gpe1: gpe1 {
			powerdown-settings = <5 3>;
		};
		gpf0: gpf0 {
			powerdown-settings = <3 3 1 2>;
		};
		gpf1: gpf1 {
			powerdown-settings = <3 3 3 3>;
		};
		gpg0: gpg0 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpg1: gpg1 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpg2: gpg2 {
			powerdown-settings = <3 3>;
		};
		gph0: gph0 {
			powerdown-settings = <3 3 3 3>;
		};
		gph1: gph1 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
	};
	pinctrl@10d10000 {
		gpv0: gpv0 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpv1: gpv1 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpv2: gpv2 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpv3: gpv3 {
			powerdown-settings = <3 3 3 3 3 3 3 3>;
		};
		gpv4: gpv4 {
			powerdown-settings = <3 3>;
		};
	};
	pinctrl@03860000 {
		gpz: gpz {
			powerdown-settings = <6 3 6 6 6 3 3>;
		};
	};

};
