/*
 * Google Snow board device tree source
 *
 * Copyright (c) 2012 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos5250.dtsi"
/include/ "cros5250-common.dtsi"

/ {
	model = "Google Snow";
	compatible = "google,snow", "samsung,exynos5250";

	pinctrl@11400000 {
		sd3_clk: sd3-clk {
			samsung,pin-drv = <0>;
		};

		sd3_cmd: sd3-cmd {
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		sd3_bus4: sd3-bus-width4 {
			samsung,pin-drv = <0>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		lid-switch {
			label = "Lid";
			gpios = <&gpx3 5 1>;
			linux,input-type = <5>; /* EV_SW */
			linux,code = <0>; /* SW_LID */
			debounce-interval = <1>;
			gpio-key,wakeup;
		};
	};

	dwmmc2@12220000 {
		disable-mmc;
	};

	/*
	 * On Snow we've got SIP WiFi and so can keep drive strengths low to
	 * reduce EMI.
	 */
	dwmmc3@12230000 {
		pinctrl-names = "default";
		pinctrl-0 = <&sd3_clk &sd3_cmd &sd3_bus4>;
	};

	usb@12000000 {
		samsung,vbus-gpio = <&gpx2 7 0>;
		status = "okay";
	};

	usbphy@12100000 {
		samsung,phyclk-gpio = <&gpy1 1 0>;
	};

	usb@12110000 {
		samsung,vbus-gpio = <&gpx1 1 0>;
		status = "okay";
	};

	usb@12120000 {
		status = "okay";
	};

	hdmi {
		hpd-gpio = <&gpx3 7 0>;
	};

	lcd_fimd0: lcd_panel0 {
			lcd-htiming = <40 40 32 1366>;
			lcd-vtiming = <10 12 6 768>;
	};

	fimd {
		samsung,fimd-display = <&lcd_fimd0>;
		samsung,fimd-vidout-rgb;
		samsung,fimd-inv-vclk;
		samsung,fimd-frame-rate = <60>;
		samsung,default-window = <0>;
		samsung,fimd-win-bpp = <32>;
		samsung,src-clk-name = "sclk_vpll";
		samsung,fimd-src-clk-rate = <70500000>;
	};

	display-port-controller {
		samsung,color-space = <0>;
		samsung,dynamic-range = <0>;
		samsung,ycbcr-coeff = <0>;
		samsung,color-depth = <1>;
		samsung,link-rate = <0x0a>;
		samsung,lane-count = <2>;
	};

	sound {
		samsung,mic-det-gpios = <&gpx2 0 1>;
		samsung,hp-det-gpios = <&gpx2 2 0>;
	};

	i2c@12C90000 {
		tpm {
			compatible = "infineon,slb9635tt";
			reg = <0x20>;
		};
	};

	i2c@12CA0000 {
		samsung,slew-delay-us = <10>;
		samsung,wait-retry-us = <3000>;

		/*
		 * TODO)sjg@chromium.org): Reduce to 50ms when EC I2C host
		 * driver bugs are fixed.
		 */
		samsung,wait-free-us = <500000>;
		samsung,arbitration-gpios = <&gpf0 3 0>,
			<&gpe0 4 0>;
	};

	i2c@12CD0000 {
		ptn3460-bridge@20 {
			compatible = "nxp,ptn3460";
			reg = <0x20>;
			powerdown-gpio = <&gpy2 5 0>;
			reset-gpio = <&gpx1 5 0>;
			edid-emulation = <5>;
		};
	};
};
