/*
 * Google Peach Pi Rev 10+ board device tree source
 *
 * Copyright (c) 2013 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "exynos5422.dtsi"
#include "exynos542x-peach.dtsi"
#include "exynos542x-peach-pi.dtsi"

/ {
	model = "Google Peach Pi Rev 10+";

	compatible = "google,pi-rev12", "google,pi-rev11", "google,pi-rev10",
		"google,pi", "google,peach", "samsung,exynos5422";
};
