/*
 * Common device tree include for all Peach Pit board revisions
 *
 * Copyright (c) 2013 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	aliases {
		i2c20 = &i2c_20;
	};

	chosen {
		bootargs = "";
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <24000000>;
		};
	};

	pinctrl@13400000 {
		ec_irq: ec-irq {
			samsung,pins = "gpx1-5";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@14010000 {
		/*
		 * TODO(sjg@chromium.org: Do we need this
		 * drive strength 3? Need to test.
		 */
		ec_spi_cs: ec-spi-cs {
			samsung,pins = "gpb1-2";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};
	};

	watchdog {
		status = "okay";
	};

	rtc {
		status = "okay";
	};

	/* TODO: Should only enable UART3? */
	serial@12C00000 {
		status = "okay";
	};

	serial@12C10000 {
		status = "okay";
	};

	serial@12C20000 {
		status = "okay";
	};

	serial@12C30000 {
		status = "okay";
	};

	codec@11000000 {
		samsung,mfc-r = <0x43000000 0x800000>;
		samsung,mfc-l = <0x51000000 0x800000>;
	};

	dwmmc0@12200000 {
		status = "okay";
		num-slots = <1>;
		broken-cd;
		bypass-smu;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;
		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	dwmmc1@12210000 {
		status = "disabled";
		num-slots = <1>;
		supports-highspeed;
		broken-cd;
		bypass-smu;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <4 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_int &sd1_bus4 &sd1_bus8>;
		slot@0 {
			reg = <0>;
			bus-width = <4>;
		};
	};

	dwmmc2@12220000 {
		status = "okay";
		num-slots = <1>;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
		slot@0 {
			reg = <0>;
			bus-width = <4>;
			wp-gpios = <&gpc4 0 0>;
		};
	};

	/* TODO: Add fimd, display port, etc */

	/* spi_2 */
	spi@12d40000 {
		status = "okay";
		samsung,spi-src-clk = <0>;
		num-cs = <1>;
		ec: cros-ec@0 {
			compatible = "google,cros-ec-spi";

			/* TODO: Run faster than 1MHz */
			spi-max-frequency = <1000000>;

			pinctrl-names = "default";
			pinctrl-0 = <&ec_spi_cs &ec_irq>;

			reg = <0>;
			interrupts = <5 0>;
			interrupt-parent = <&gpx1>;
			wakeup-source;

			controller-data {
				cs-gpio = <&gpb1 2 0>;

				/* TODO: feedback delay should be 2?*/
				samsung,spi-feedback-delay = <0>;
			};

			/* Arbitrarily assign bus 20 since past exynos range */
			i2c_20: i2c-tunnel {
				compatible = "google,cros-ec-i2c-tunnel";
				#address-cells = <1>;
				#size-cells = <0>;

				google,remote-bus = <0>;
				power-regulator@48 {
					compatible = "ti,tps65090";
					reg = <0x48>;

					/* TODO: add back when no-ack-irq */
					/* interrupts = <21 0>; */
					/* interrupt-parent = <&wakeup_eint>; */

					vsys1-supply = <&vbat>;
					vsys2-supply = <&vbat>;
					vsys3-supply = <&vbat>;
					infet1-supply = <&vbat>;
					infet2-supply = <&vbat>;
					infet3-supply = <&vbat>;
					infet4-supply = <&vbat>;
					infet5-supply = <&vbat>;
					infet6-supply = <&vbat>;
					infet7-supply = <&vbat>;
					vsys-l1-supply = <&vbat>;
					vsys-l2-supply = <&vbat>;

					regulators {
						dcdc1 {
							ti,enable-ext-control;
						};
						dcdc2 {
							ti,enable-ext-control;
						};
						dcdc3 {
							ti,enable-ext-control;
						};
						fet1 {
							regulator-name = "vcd_led";
						};
						fet2 {
							regulator-name = "video_mid";
							regulator-always-on;
						};
						fet3 {
							regulator-name = "wwan_r";
							regulator-always-on;
						};
						fet4 {
							regulator-name = "sdcard";
						};
						fet5 {
							regulator-name = "camout";
							regulator-always-on;
						};
						fet6 {
							regulator-name = "lcd_vdd";
						};
						fet7 {
							regulator-name = "ts";
						};
						ldo1 {
						};
						ldo2 {
						};
					};
				};

				battery: sbs-battery@b {
					compatible = "sbs,sbs-battery";
					reg = <0xb>;
					sbs,poll-retry-count = <1>;
				};
			};

			keyboard-controller {
				compatible = "google,cros-ec-keyb";
				keypad,num-rows = <8>;
				keypad,num-columns = <13>;
				google,needs-ghost-filter;
				linux,keymap = <0x0001007d	/* L_META */
						0x0002003b	/* F1 */
						0x00030030	/* B */
						0x00040044	/* F10 */
						0x00060031	/* N */
						0x0008000d	/* = */
						0x000a0064	/* R_ALT */

						0x01010001	/* ESC */
						0x0102003e	/* F4 */
						0x01030022	/* G */
						0x01040041	/* F7 */
						0x01060023	/* H */
						0x01080028	/* ' */
						0x01090043	/* F9 */
						0x010b000e	/* BKSPACE */

						0x0200001d	/* L_CTRL */
						0x0201000f	/* TAB */
						0x0202003d	/* F3 */
						0x02030014	/* T */
						0x02040040	/* F6 */
						0x0205001b	/* ] */
						0x02060015	/* Y */
						0x02070056	/* 102ND */
						0x0208001a	/* [ */
						0x02090042	/* F8 */

						0x03010029	/* GRAVE */
						0x0302003c	/* F2 */
						0x03030006	/* 5 */
						0x0304003f	/* F5 */
						0x03060007	/* 6 */
						0x0308000c	/* - */
						0x030b002b	/* \ */

						0x04000061	/* R_CTRL */
						0x0401001e	/* A */
						0x04020020	/* D */
						0x04030021	/* F */
						0x0404001f	/* S */
						0x04050025	/* K */
						0x04060024	/* J */
						0x04080027	/* ; */
						0x04090026	/* L */
						0x040b001c	/* ENTER */

						0x0501002c	/* Z */
						0x0502002e	/* C */
						0x0503002f	/* V */
						0x0504002d	/* X */
						0x05050033	/* , */
						0x05060032	/* M */
						0x0507002a	/* L_SHIFT */
						0x05080035	/* / */
						0x05090034	/* . */
						0x050B0039	/* SPACE */

						0x06010002	/* 1 */
						0x06020004	/* 3 */
						0x06030005	/* 4 */
						0x06040003	/* 2 */
						0x06050009	/* 8 */
						0x06060008	/* 7 */
						0x0608000b	/* 0 */
						0x0609000a	/* 9 */
						0x060a0038	/* L_ALT */
						0x060b006c	/* DOWN */
						0x060c006a	/* RIGHT */

						0x07010010	/* Q */
						0x07020012	/* E */
						0x07030013	/* R */
						0x07040011	/* W */
						0x07050017	/* I */
						0x07060016	/* U */
						0x07070036	/* R_SHIFT */
						0x07080019	/* P */
						0x07090018	/* O */
						0x070b0067	/* UP */
						0x070c0069>;	/* LEFT */
			};
		};
	};

	/* dw usb3_0 */
	usb@12000000 {
		status = "okay";
	};

	/* ehci */
	usb@12110000 {
		status = "okay";
	};

	/* ohci */
	usb@12120000 {
		status = "okay";
	};

	/* dw usb3_1 */
	usb@12400000 {
		status = "okay";
	};

	vbat: fixed-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vbat-supply";
		regulator-boot-on;
		regulator-always-on;
	};
};
